form > div , button{
    display: flex;
    flex-direction: column;
    margin: 25px;
}

form > div >input{
    margin-top: 5px;
    padding: 5px;
    border:  #0A207D solid;
    border-radius: 5px;
    width: 100%;
}
form > div >label{
   font-size: 20px;
    color:  #0A207D;
   font-weight: 700;
}

form > button{
    border: none;
    background-color: #0A207D;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.cke_chrome {
    border:   #0A207D solid;
    border-radius: 5px;
    width: 100%;
}
form{
    margin-top: 20px;
}

li{
    color: rgb(240, 7, 7);
}
