
{% load socialaccount %}
{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> {% block title %}{% endblock title %} </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/footers.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/navbar.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/studio.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
</head>
  <body>
    <!-- As a link -->
    <nav class="navbar navbar-light navigation">
      <div class="container-fluid">
        <a href="/"> <img src="static/img/logo.svg" class="logo"></a>
        <div class="nav-footer">
          {% block search %}{% endblock search %}
        
          {% if request.user.is_authenticated %}
          {% if creator_profile %}
          <div class="nav-foot profile-photo" style="background-image:url('/media/{{creator_profile.channel_logo}}')" onclick="options()"></div>
          {% else %}
          <div class="nav-foot profile-photo" style="background-image:url('{{user.socialaccount_set.all.0.get_avatar_url}}')" onclick="options()"></div>
          {% endif %}          {% else %}{% endif %}
           
          
        </div>
        

      </div>
    </nav>
    <div class="optionsprofile" id="option">
      <div class="drawer-close">
        <b>Options</b>
        <img src="/static/img/close-blue.svg" onclick="options()">
      </div>
      <hr>
        <div class="drawer-option-tile">
          <a href="/profile/{{creator_profile.channel_name}}">Profile</a>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
        <div class="drawer-option-tile">
          <a href="/saved">Saved Videos</a>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
        <div class="drawer-option-tile">
          <a href="/subscriptions">Subscriptions</a>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
        <div class="drawer-option-tile">
          <a href="/studio">Creator Studios</a>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
        <div class="drawer-option-tile">
          <a href="/updateprofile">Update Profile</a>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
        <div class="drawer-option-tile">
          <form action="/accounts/logout/" method="post">
            {% csrf_token %}
          <button type="submit">Logout</button>
          </form>
          <img src="/static/img/arrow-right.svg" alt="">
        </div>
    </div>
    
    <div class="viewpoint">
      <div class="drawer">
        <a href="/profile/{{creator_profile.channel_name}}/"><div class="nav-foot profile-photo dr-photo" style="background-image:url(/media/{{creator_profile.channel_logo}})"></div> </a>
        <b class="dr-name">{{creator_profile.channel_name}}</b>
        <hr class="dr-divider">
        <a href="/studio"><div class="drawer-comp {% block home %}{% endblock home %}"> <img src="/static/img/home.svg" alt="" class="icon-drawer-comp "> <span class="title-drawer-comp">Home</span> </div></a>
        {% comment %} <a href=""><div class="drawer-comp {% block analytics %}{% endblock analytics %}"> <img src="/static/img/analytics.svg" alt="" class="icon-drawer-comp"><span class="title-drawer-comp">Analytics</span> </div></a> {% endcomment %}
        <a href="/videos"><div class="drawer-comp {% block videos %}{% endblock videos %}"> <img src="/static/img/st-videos.svg" alt="" class="icon-drawer-comp"><span class="title-drawer-comp">Videos</span> </div></a>
        <a href="/earning"><div class="drawer-comp {% block earnings %}{% endblock earnings %}"> <img src="/static/img/earning.svg" alt="" class="icon-drawer-comp"><span class="title-drawer-comp">Earnings</span> </div></a>
        <a href="/updateprofile"><div class="drawer-comp {% block settings %}{% endblock settings %}"> <img src="/static/img/setting.svg" alt="" class="icon-drawer-comp"> <span class="title-drawer-comp">Settings</span></div></a>
        
      </div>
      <div class="body">
        {% block body %}{% endblock body %}
      </div>
    </div>
    
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">&copy; 2022 DevVideos, Inc</p>
        </footer>
      </div>
      <script>
        var shouldwork = false;
        function options() {
          var op = document.getElementById('option');
          console.log(op.style.visibility);
          if(op.style.visibility == 'hidden' | op.style.visibility == ''){
            op.style.visibility = 'visible';
            op.style.opacity = '1';
            
            shouldwork = true;
          }else{
            op.style.visibility = 'hidden';
            op.style.opacity = '0';
            shouldwork = false;
          }
        }
      </script>
  </body>
</html>
